/node_modules
yarn-error.log

# production

/build
/lib
/prebuild/_pending

# local build for development

/dev

# misc

.DS_Store

ttpgcfg.local.json

# VSCode
Arcs-TTPG.code-workspace

# Jest --coverage
/coverage
